{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Want to help Sublimall ?</h3>
    </div>
    <div class="panel-body">
      <p>I develop, improve Sublimall on my free time.<br />Pay server and storage with my own money.</p>
      <p>This donation will help me maintain and add more features.</p>
      {% if email %}
        <p>By giving, you'll be a contributor and you will have access to a <strong>bigger storage size</strong> (more features later).</p>
        <p>This donation will be link with your account (<small>{{ email }}</small>). So you'll have a <strong>upgraded account</strong>.</p>
      {% else %}
        <p>You'll be a Sublimall contributor.</p>
        <p>This donation won't be link to any account, because your are not logged in.</p>
      {% endif %}
      <hr>
      {% if STRIPE_PUBLIC_KEY %}
        <h4>With your credit card</h4>
        <p>With your credit card, your account will be linked automatically.</p>
        <form role="form" class="form-horizontal" onsubmit="return false;">
          {% if email %}
            <input type="hidden" class="form-control" id="email" value="{{ email }}">
          {% else %}
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-4">
                <input type="email" class="form-control" id="email" placeholder="foo@bar.com">
              </div>
            </div>
          {% endif %}
          <div class="form-group">
            <label for="amount" class="col-sm-2 control-label">Amount (in dollars)</label>
            <div class="col-sm-1">
              <input type="text" class="form-control" id="amount" value="5">
            </div>
            <div class="col-sm-1">
              <button class="btn btn-success" id="donate-button">Donate</button>
            </div>
          </div>
        </form>
        <script>
          $(function() {
            var handler = StripeCheckout.configure({
              key: '{{ STRIPE_PUBLIC_KEY }}',
              image: "{% static 'images/visual_logo.png' %}",
              token: function(token, args) {
                $.post("{% url 'donations' %}", {token: token.id, email: document.getElementById('email').value, amount: document.getElementById('amount').value * 100}, 'json')
                  .always(function(data) {location.reload()});
              }
            });

            document.getElementById('donate-button').addEventListener('click', function(e) {
              handler.open({
                name: 'Sublimall',
                currency: 'eur',
                email: document.getElementById('email').value,
                description: 'Donate to Sublimall for life ($' + document.getElementById('amount').value + '.00)',
                amount: document.getElementById('amount').value * 100
              });
              e.preventDefault();
            });
          });
        </script>
        <hr>
      {% endif %}
      <h4>With Paypal</h4>
      <p>For Paypal, your account will be linked manually.</p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="EZTDQMFQ6CJCC">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
      </form>
      <hr>
      <h4>Other</h4>
      <p>Or just give a smaller donation with Gittip or Flattr. <strong>These donations won't be linked to your account</strong>.</p>
      <script type="text/javascript">
        /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);
        })();
        /* ]]> */
      </script>
      <script data-gittip-username="Socketubs"
        data-gittip-widget="button"
        src="//gttp.co/v1.js"></script>
      <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://github.com/toxinu/sublimall"></a>
      <br />
      <br />
      <p><strong>I really thank you for your implication :-).</strong></p>
      <p>Geoffrey.</p>
    </div>
  </div>
{% endblock %}
