{% extends 'base.html' %}
{% block content %}


<form role="form" class="form-horizontal" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="form-group">
		<label for="id_username" name="username" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-4">
			<input type="email" name="username" class="form-control" id="id_username" placeholder="foo@bar.com">
    	</div>
	</div>
	<div class="form-group">
		<label for="id_password" name="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-4">
			<input type="password" name="password" class="form-control" id="id_password">
    	</div>
	</div>
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
    		{% if form.errors %}
    			{% for field, error in form.errors.items %}
                    {% if field == '__all__' %}
                       <span class="help-block"><strong>Bad credentials.</strong></span>
                    {% else %}
					   <span class="help-block">{{ field|title }} {{ error }}</span>
                    {% endif %}
    			{% endfor %}
                <hr>
			{% endif %}
			<button type="submit" value="login" class="btn btn-success">Log in</button>
	 	</div>
	</div>
	<input type="hidden" name="next" value="{% url 'account' %}" />
</form>
{% endblock %}
