{% load staticfiles %}
{% load base_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ SITE_URL }}{% static 'css/email.css' %}" />
</head>
<body bgcolor="#FFFFFF">
    <!-- HEADER -->
    <table class="head-wrap" bgcolor="#E4E2E8">
        <tr>
            <td></td>
            <td class="header container" >
                <div class="content">
                    <table bgcolor="#E4E2E8">
                        <tr>
                            <td><img src="{{ SITE_URL }}{% static 'images/logo.png' %}" /></td>
                            <td align="right"><h6 class="collapse">{% block subtitle %}{% endblock %}</h6></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <!-- /HEADER -->
    <!-- BODY -->
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">

                <div class="content">
                <table>
                    <tr>
                        <td>
                            <h3>Hi,</h3>
                            <p class="lead">{% block lead %}{% endblock %}</p>
                            <p>{% block content %}{% endblock %}</p>
                            <p class="callout">{% block callout %}{% endblock %}</p>
                            <!-- social & contact -->
                            <table class="social" width="100%">
                                <tr>
                                    <td>
                                        <!-- column 1 -->
                                        <table align="left" class="column">
                                            <tr>
                                                <td>
                                                    <h5 class="">Connect with Us:</h5>
                                                    <p class="">
                                                        <a href="https://github.com/toxinu/sublimall" class="soc-btn gh">Github</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- /column 1 -->
                                        <!-- column 2 -->
                                        <table align="left" class="column">
                                            <tr>
                                                <td>
                                                    <h5 class="">Contact Info:</h5>
                                                    <p>
                                                        Website: <strong><a href="http://sublimall.org">sublimall.org</a></strong>
                                                        <br/>
                                                        Docs: <strong><a href="http://sublimall.org/docs">Docs</a></strong>
                                                        <br/>
                                                        Email: <strong><a href="emailto:hello@sublimall.org">hello@sublimall.org</a></strong>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- /column 2 -->
                                        <span class="clear"></span>
                                    </td>
                                </tr>
                            </table>
                            <!-- /social & contact -->
                        </td>
                    </tr>
                </table>
                </div>
                <!-- /content -->
            </td>
            <td></td>
        </tr>
    </table>
    <!-- /BODY -->
    <!-- FOOTER -->
    <table class="footer-wrap">
        <tr>
            <td></td>
            <td class="container">
                <!-- content -->
                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                <p>
                                    <a href="#">Terms</a> |
                                    <a href="#">Privacy</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->
            </td>
            <td></td>
        </tr>
    </table>
    <!-- /FOOTER -->
</body>
</html>
